@import 'reset.css';
.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
body {
    font-family: 'Trebuchet MS';
}

/* HEADER */
header  {
    position: fixed;
    background: linear-gradient(50deg, #0F1A38, #1c294e);
    width: 100%;

}

header nav ul li a {
    font-size: 1.3em;
    color: #fff;
    float: right;
    text-align: center;
    padding: 18px 40px;

}

header nav ul li a:hover {
    color: #315f9b;
}
header img {
    width: 130px;
    height: 30px;
    max-width: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}


/* FOOTER */
footer {
    background-color: #0F1A38;
    width: 100%;
}
footer nav ul li a{
    font-size: 1.3em;
    color: #fff;
    float: right;
    text-align: center;
    padding: 18px 40px;
    background-color: #0F1A38;
    width: 100%;
}

    /* PAGE INSCRIPTION */
#register {
    background-color: #1c294e;
    padding-top: 70px;
}
#register.img{

    position: relative;

}
#register img{
    opacity: 0.5;
    width: 100%;
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,3));
    padding-bottom: 60px;
}


#register h2 {
    font-size: 2.2em;
    color: white;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 8px;
}
#register .form {
    position: absolute;
    margin-left: 35%;
    max-width: 300px;
    top: 200px;
}




#register input{
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 12px 32px;
    margin: 20px 0;
    border: 3px solid #1c294e;
}
#register input[type=submit]{
    margin-left: 21%;
}

#register input[type=submit]:hover {
    background-color: #1c294e;
    transition: .2s;

}
#register .error{
    color: red;
}



/* PAGE CONNEXION */

#connexion {
    background-color: #1c294e;
    padding-top: 70px;
}
#connexion.img2{
    position: relative;
}
#connexion img{
    opacity: 0.5;
    width: 100%;
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,3));
    padding-bottom: 60px;
}
#connexion h2 {
    font-size: 2.2em;
    color: white;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 8px;
}

#connexion form {
    position: absolute;
    margin-left: 35%;
    max-width: 300px;
    top: 200px;
}

#connexion input{
    background-color: white;
    border: 3px solid #1c294e;
    border-radius: 5px;
    color: black;
    padding: 12px 32px;
    margin: 40px 0;

}
#connexion input[type=submit]{
    margin-left: 21%;
}

#connexion input[type=submit]:hover {
    background-color: #1c294e;
    transition: .2s;

}

#mdpoublie {
    padding-top: 200px;
}
#mdpmodif {
    padding-top: 200px;
}
#filmuti {
    padding-top: 100px;
}
.film{
    float: left;
    width: 20%;
}
